
	<div class="error-page">
		<h1 class="error-tit">Error</h1>
		<p class="error-msg">
			An error occurred <br>
			while processing this request.<br>
			If this problem persists,<br>
			please contact<br>
			support@oasisbloc.io.
		</p>
		<div class="btn-area">
			<a href="/">Home</a>
		</div>
	</div>