<script type="text/javascript" src="/js/jquery.validate.min.js"></script>

		<!-- 본문영역 -->
		<article class="white-note">
			<h2 class="tit-type01">Password reset</h2>
			<p class="txt-type02 mt30">Please enter your email address to start the password reset process.</p>
            <!-- form-list -->
            <form id="forgotPwdForm" name="forgotPwdForm">
                <dl class="form-list mt20">
                    <dt>Account name</dt>	
                    <dd>
                        <div class="form-area">
                            <div class="input-wrap has-clear">
                                <input type="text" id="account" name="account" placeholder="Enter your OASISBloc wallet account name">
                                <span class="form-control-clear hidden">삭제</span>
                            </div>
                        </div>
                        <!-- <label class="error">Enter your OASISBloc wallet account name.</label>
                        <label class="error">This account name is not registered. Please check again.</label> -->
                    </dd>
                    <dt>Email</dt>	
                    <dd>
                        <div class="form-area">
                            <div class="input-wrap has-clear">
                                <input type="text" id="email" name="email" placeholder="Enter your registered email address.">
                                <span class="form-control-clear hidden">삭제</span>
                            </div>
                        </div>
                        <!-- <label class="error">Enter your email address.</label>
                        <label class="error">This email address is not registered. Please check again.</label>
                        <label class="error">Invalid email address. Please try again.</label> -->
                    </dd>
                </dl>
            </form>
			<!-- //form-list -->
			<div class="space40 mt70" id="btnArea">
				<button type="button" class="btn large blue" id="btnSend">Send</button><!-- 비활성화 : disabled = " disabled " -->
				<!-- <label class="error">Account name and email address do not match. Please check again.</label> -->
            </div>
		</article>
        <!-- //본문영역 -->

<!-- layer -->
<div class="layer_wrap">
	<div class="layer_popup" id="sendMailOk">
		<div class="inner sucess mail">
			<div class="cont">
				<!-- 팝업 본문 내용 -->
				<p class="point">Password reset email has sent</p>
				<p>The email will be valid for only 10 minutes</p>
				<!-- //팝업 본문 내용 -->
				<a href="javascript:;" class="btn_pop_cls" onclick="location.href='/'">close</a>
			</div>
			<div class="btn-area">
				<a href="javascript:;" class="btn middle blue" onclick="location.href='/'">ok</a>
			</div>
		</div>
	</div>
</div>
<!-- //layer -->

        
<script>
    $(function() {
        $("#forgotPwdForm").validate({
            rules: {
                account: {
                    required: true,
                    rangelength: [12, 12]
                }, email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                account: {
                    required: "Enter your OASISBloc wallet account name.",
                    rangelength: "Invalid account name. Please try again."
                }, email: {
                    required: "Enter your email address.",
                    email: "Invalid email address. Please try again."
                }
            },
            highlight: function(element, errorClass) {
            },
            errorPlacement: function(err, el) {
                el.after(err);
                var errCls = el.attr("class");
                if (errCls == "error") {
                    $(el).parent().addClass("error");
                }
            },
            success: function(el) {
                $(el).parent().removeClass("error");
            }
        });

        $("#btnSend").click(function() {
            $("#btnArea > .error").remove();
            if ($('#forgotPwdForm').valid()) {
                $.ajax({
                    url: '/forgotPasswordMailAjax',
                    data: $("#forgotPwdForm").serialize(),
                    type: 'POST',
                    dataType: 'json',
                    success: function(data){
                        if (data.result) {
                            popupOpen(sendMailOk);
                        } else {
                            $("#btnArea").append("<label class=\"error\">" + data.message + "</label>");
                        }
                    }
                    , error: function(error) {
                        alert('Error occurred.');
                    }
                });
            }
        });
    });
</script>