		<!-- 본문영역 -->

		<article class="white-note account-complete">
			
			<h2>Account creation is complete!</h2>
			<div class="account-cont">
				<p class="creat-account">Created account : <strong><%=memAccount%></strong></p>
				<div class="info">
					<p>If the button does not work, copy the link below and proceed to your Web browser.</p>
					<a href="https://oasisblocexplorer.io/account/<%=memAccount%>" class="txt-link" target="_blank" title="New Window">https://oasisblocexplorer.io/account/<%=memAccount%></a>
				</div>
			</div>
			<a href="/" class="btn large blue">OK</a>

		</article>

		<!-- //본문영역 -->
