<script type="text/javascript" src="/js/jquery.validate.min.js"></script>

        <!-- 본문영역 -->
		<article class="white-note">
			<h2 class="tit-type01">Enter a new password</h2>
			<p class="txt-type02 mt30">Enter the new password to the OASISBloc Wallet.<br>
				Please use a password of 8~15 characters including letters and numbers.</p>
			<!-- form-list -->
			<form id="changePwdForm" name="changePwdForm" onsubmit="return false;">
				<input type="hidden" id="account" name="account" value="<%=account %>" />
				<input type="hidden" id="authKey" name="authKey" value="<%=authKey %>" />
				<dl class="form-list mt20">
					<dt>New password</dt>	
					<dd>
						<div class="form-area">
							<div class="input-wrap has-clear password">
								<input type="password" id="newPwd" name="newPwd" placeholder="Enter new password.">
								<a href="#" class="btn-code">암호화</a>
								<span class="form-control-clear hidden">삭제</span>
							</div>
						</div>
					</dd>
					<dt>Repeat new password</dt>	
					<dd>
						<div class="form-area">
							<div class="input-wrap has-clear password">
								<input type="password" id="newPwdOk" name="newPwdOk" placeholder="Repeat new password.">
								<a href="#" class="btn-code">암호화</a>
								<span class="form-control-clear hidden">삭제</span>
							</div>
						</div>
					</dd>
				</dl>
			</form>
			<!-- //form-list -->
			<div class="space40 mt70">
				<button type="button" class="btn large blue" id="btnConfirm" onclick="$('#changePwdForm').submit()">Confirm</button>
		</article>

		<!-- //본문영역 -->

<!-- layer -->
<div class="layer_wrap">
	<div class="layer_popup" id="expiredPop">
		<div class="inner sucess mail">
			<div class="cont">
				<!-- 팝업 본문 내용 -->
				<p class="point">Password reset email has expired</p>
				<p>please try again</p>
				<!-- //팝업 본문 내용 -->
				<a href="javascript:;" class="btn_pop_cls" onclick="location.href='/forgotPassword'">close</a>
			</div>
			<div class="btn-area">
				<a href="javascript:;" class="btn middle blue" onclick="location.href='/forgotPassword'">ok</a>
			</div>
		</div>
	</div>
</div>
<!-- //layer -->

<!-- layer -->
<div class="layer_wrap">
	<div class="layer_popup" id="passwordResutOK">
		<div class="inner sucess">
			<div class="cont">
				<!-- 팝업 본문 내용 -->
				<p class="point">Your password has been reset.</p>
				<!-- //팝업 본문 내용 -->
				<a href="javascript:;" class="btn_pop_cls" onclick="location.href='/login'">close</a>
			</div>
			<div class="btn-area">
				<a href="javascript:;" class="btn middle blue" onclick="chkApp();">ok</a>
			</div>
		</div>
	</div>
</div>

<!-- app 호출-->
<div class="layer_wrap">
	<div class="layer_popup" id="callApp">
		<div class="inner view-type">
			<div class="cont">
				<!-- 팝업 본문 내용 -->
				<p>Try more convenient with the <span class="point">mobile app!</span></p>
				<!-- //팝업 본문 내용 -->
				<a href="javascript:;" class="btn_pop_cls" onclick="location.href='/login'">close</a>
			</div>
			<div class="btn-area full">
				<a href="javascript:;" class="btn middle blue" onclick="goApp();">View in mobile app</a>
				<a href="javascript:;" class="btn middle white" onclick="location.href='/login'">View on mobile web</a>
			</div>
		</div>
	</div>
</div>

<!-- 앱 다운로드 -->
<div class="layer_wrap">
	<div class="layer_popup" id="downApp">
		<div class="inner app-dwn">
			<div class="cont">
				<!-- 팝업 본문 내용 -->
				<p class="point">There is more in the app!</p>
				<!-- //팝업 본문 내용 -->
				<a href="javascript:;" class="btn_pop_cls" onclick="location.href='/login'">close</a>
			</div>
			<div class="btn-area full">
				<a href="javascript:;" class="btn middle blue" onclick="goDownApp();">Download the free app</a>
				<a href="javascript:;" class="btn middle white" onclick="location.href='/login'">View on mobile web</a>
			</div>
		</div>
	</div>
</div>
<!-- //layer -->

<script>
	$(function() {
		// 팝업 제어
		resetResult = "<%=result %>";

		if (resetResult != "OK") {
			popupOpen(expiredPop);
		}

		$("#newPwdOk").keyup(function(e) {
			if (e.which == 13) {
				$("#newPwdOk").blur();
				$('#changePwdForm').submit();
			}
		});

		$("#changePwdForm").validate({
			rules: {
				newPwd: {
					required: true,
					rangelength: [8, 15],
					regPwd: true
				}
				, newPwdOk: {
					required: true,
					equalTo: '#newPwd'
				}
			},
			messages: {
				newPwd: {
					required: "Enter new password.",
					rangelength: $.validator.format("Password should be between {0}~{1} characters including letters and numbers."),
					regPwd: "Password should be between 8~15 characters including letters and numbers."
				}
				, newPwdOk: {
					required: "Enter new password.",
					equalTo: "The passwords do not match. Please try again."
				}
			},
			highlight: function(element, errorClass) {
			},
			errorPlacement: function(err, el) {
				el.after(err);
				var errCls = el.attr("class");
				console.log(errCls);
				if (errCls == "error") {
					$(el).parent().addClass("error");
				}
			},
			success: function(el) {
				$(el).parent().removeClass("error");
			},
			submitHandler: function (form) {
				$.ajax({
					url: '/procResetPasswordAjax',
					data: $("#changePwdForm").serialize(), 
					type: 'POST',
					dataType: 'json',
					success: function(data){
						if (data.result) {
							popupOpen(passwordResutOK);
						} else {
							if (data.expired) {
								popupOpen(expiredPop);
							} else {
								alert(data.message);
							}
						}
					}
					, error: function(error) {
						alert('Error occurred.');
					}
				});
			}
		});

		// $("#newPwd, #newPwdOk").blur(function() {
		// 	if (!$.trim($("#newPwd").val()) == "" && !$.trim($("#newPwdOk").val()) == "") {
		// 		if ($("#changePwdForm").valid()) {
		// 			$("#btnConfirm").removeAttr("disabled");
		// 		} else {
		// 			$("#btnConfirm").attr("disabled", "disabled");
		// 		}
		// 	}
		// });

	});

	$.validator.addMethod('regPwd', function(value, element) {
		var regPwd = /^.*(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
		return regPwd.test(value);
	});

	function chkApp() {
		var userAgent = navigator.userAgent.toLowerCase();
		if (userAgent.match("android")) {
			popupClose(passwordResutOK);
			// // 설치 app 있는지 확인
			// if (true) {
				popupOpen(callApp);
			// } else {
			// 	popupOpen(downApp);
			// }
        } else {
            location.href='/login';
        }
    }

    function goApp() {
		var url = "oasisbloc://launcher#Intent;scheme=oasis;package=io.oasisbloc.wallet;end";
		location.href = url;
	}
	
	function goDownApp() {
		location.href = "market://details?id=";
	}

</script>