<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1024">
	<title>OASISBloc Wallet</title>
	<link rel="shortcut icon" href="<%=homeUrl%>/img/common/oasis_favicon.ico">
</head>
<body>

<table cellpadding="0" cellspacing="0" width="700" bgcolor="#ffffff" border="0" align="center" style="font-family:Apple SD Gothic Neo,sans-serif,'맑은고딕',Malgun Gothic,'굴림',gulim;">
	<tr>
		<td rowspan="3" width="1" bgcolor="#d5d6d8"></td>
		<td height="1" bgcolor="#d5d6d8"></td>
		<td rowspan="3" width="1" bgcolor="#d5d6d8"></td>
	</tr>
	<tr>
		<td>

			<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
				<tr>
					<td>

						<!-- top -->
						<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
							<tr>
								<td colspan="3" height="7" bgcolor="#185482"></td>
							</tr>
							<tr>
								<td colspan="3" height="10"></td>
							</tr>
							<tr>
								<td width="70"></td>
								<td height="63" align="center" style="vertical-align:top;">
									<a href="#n"><img src="<%=homeUrl%>/img/mail/mail_logo.gif" style="vertical-align:top;border:0;" alt="OASISBloc Wallet" /></a>
								</td>
								<td width="70"></td>
							</tr>
						</table>
						<!-- //top -->

					</td>
				</tr>
				<tr>
					<td height="1" bgcolor="#d5d6d8"></td>
				</tr>
				<tr>
					<td>

						<!-- title -->
						<table cellpadding="0" cellspacing="0" width="698" bgcolor="#f3f4f4" border="0" align="center">
							<tr>
								<td colspan="3" height="50"></td>
							</tr>
							<tr>
								<td width="70"></td>
								<td height="90" align="center" style="font-size:30px;font-weight:bold;color:#1e2f5e;vertical-align:top;">
									Account creation is complete!
								</td>
								<td width="70"></td>
							</tr>
						</table>
						<!-- //title -->

					</td>
				</tr>
				<tr>
					<td>

						<!-- content -->
						<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
							<tr>
								<td width="69"></td>
								<td width="560">

									<table cellpadding="0" cellspacing="0" width="560" border="0" align="center">
										<tr>
											<td height="40"></td>
										</tr>
										<tr>
											<td height="273" align="center">
												<img src="<%=homeUrl%>/img/mail/mail_content01.gif" style="vertical-align:top;border:0;" alt="" />
											</td>
										</tr>
										<tr>
											<td height="25"></td>
										</tr>
										<tr>
											<td height="30" align="center" style="font-size:18px;color:#aeb6ba;">
												Your account has been created.<br>
												Click the button below to check your account.
											</td>
										</tr>
										<tr>
											<td height="15"></td>
										</tr>
										<tr>
											<td height="30" align="center" style="font-size:32px;color:#185482;">
												Created account : <strong><%=account%></strong>
											</td>
										</tr>
										<tr>
											<td height="50"></td>
										</tr>										
										<tr>
											<td height="60" align="center">
												<a href="<%=explorerUrl%>/search?q=<%=account%>" target="_blank"><img src="<%=homeUrl%>/img/mail/btn_account_check.gif" style="vertical-align:top;border:0;" alt="" /></a>
											</td>
										</tr>
										<tr>
											<td height="85"></td>
										</tr>
										<tr>
											<td align="left" style="font-size:14px;color:#929aa0;vertical-align:top;">
												※ If the button does not work, copy the link below and proceed to your Web browser.
											</td>
										</tr>
										<tr>
											<td height="6"></td>
										</tr>
										<tr>
											<td align="left" style="font-size:14px;color:#929aa0;vertical-align:top;padding-left:16px;">
												<a href="<%=explorerUrl%>/search?q=<%=account%>" style="font-size:14px;font-weight:bold;color:#185482;text-decoration:none;">
													<img src="<%=homeUrl%>/img/mail/ico_btn_oasis.gif" style="vertical-align:top;border:0;padding-right:5px;" alt="" />
													<%=explorerUrl%>/search?q=<%=account%>
												</a>
											</td>
										</tr>
										<tr>
											<td height="30"></td>
										</tr>
									</table>

								</td>
								<td width="69"></td>
							</tr>
						</table>
						<!-- //content -->

					</td>
				</tr>
				<tr>
					<td height="1" bgcolor="#d5d6d8"></td>
				</tr>
				<tr>
					<td>

						<!-- footer -->
						<table cellpadding="0" cellspacing="0" width="698" bgcolor="#f4f4f4" border="0" align="center">
							<tr>
								<td colspan="4" height="28"></td>
							</tr>
							<tr>
								<td rowspan="2" width="29"></td>
								<td rowspan="2" width="179" height="68" style="vertical-align:top;">
									<img src="<%=homeUrl%>/img/mail/mail_foot_logo.gif" style="vertical-align:top;border:0;" alt="OASISBloc Wallet" />
								</td>
								<td width="461" height="12"></td>
								<td rowspan="2" width="29"></td>
							</tr>
							<tr>
									<td height="56" align="right" style="vertical-align:top;font-size:14px;color:#929aa0;">
									© 2019 Foundation OASIS LTD. All Rights Reserved.
								</td>
							</tr>
						</table>
						<!-- //footer -->

					</td>
				</tr>
			</table>

		</td>
	</tr>
	<tr>
		<td height="1" bgcolor="#d5d6d8"></td>
	</tr>
</table>


</body>
</html>