
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1024">
	<meta name="format-detection" content="email=no">
	<title>OASISBloc</title>
	<link rel="shortcut icon" href="<%=homeUrl%>/img/common/oasis_favicon.ico">
</head>
<body>

<table cellpadding="0" cellspacing="0" width="700" bgcolor="#ffffff" border="0" align="center" style="font-family:Apple SD Gothic Neo,sans-serif,'맑은고딕',Malgun Gothic,'굴림',gulim;">
	<tr>
		<td rowspan="3" width="1" bgcolor="#d5d6d8"></td>
		<td width="698" height="1" bgcolor="#d5d6d8"></td>
		<td rowspan="3" width="1" bgcolor="#d5d6d8"></td>
	</tr>
	<tr>
		<td width="698">

			<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
				<tr>
					<td width="698">

						<!-- top -->
						<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
							<tr>
								<td colspan="3" width="698" height="7" bgcolor="#185482"></td>
							</tr>
							<tr>
								<td colspan="3" width="698" height="10"></td>
							</tr>
							<tr>
								<td width="70"></td>
								<td width="558" height="63" align="center" style="vertical-align:top;">
									<a href="#n"><img src="<%=homeUrl%>/img/mail/mail_logo.gif" style="vertical-align:top;border:0;" alt="OASISBloc Wallet" /></a>
								</td>
								<td width="70"></td>
							</tr>
						</table>
						<!-- //top -->

					</td>
				</tr>
				<tr>
					<td width="698" height="1" bgcolor="#d5d6d8"></td>
				</tr>
				<tr>
					<td width="698" bgcolor="#f3f4f4">

						<!-- title -->
						<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
							<tr>
								<td colspan="3" width="698" height="50"></td>
							</tr>
							<tr>
								<td width="70"></td>
								<td width="558" height="90" align="center" style="font-size:30px;font-weight:bold;color:#1e2f5e;vertical-align:top;">
									Password reset
								</td>
								<td width="70"></td>
							</tr>
						</table>
						<!-- //title -->

					</td>
				</tr>
				<tr>
					<td width="698">

						<!-- content -->
						<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
							<tr>
								<td width="69"></td>
								<td width="560">

									<table cellpadding="0" cellspacing="0" width="560" border="0" align="center">
										<tr>
											<td width="560" height="50"></td>
										</tr>
										<tr>
											<td width="560" style="font-size:18px;color:#aeb6ba;line-height:24px;">
												Hello [<span style="color:#185482;"><%=account%></span>], 
												<br><br>
												This email is sent on your request to reset your password.<br>
												Click on reset password button in order to reset password of your OASISBloc Wallet account.
												<br><br>
												If this request was not done by you, contact customer service immediately.<br>
												<span style="color:#185482;"><a href="mailto:<%=supportEmail%>" style="color:#185482;"><%=supportEmail%></a></span> 
											</td>
										</tr>
										<tr>
											<td width="560" height="100"></td>
										</tr>
										<tr>
											<td width="560" height="60" align="center">
												<a href="<%=url%>"><img src="<%=homeUrl%>/img/mail/btn_reset_password.gif" width="560" height="60" style="vertical-align:top;border:0;" alt="" /></a>
											</td>
										</tr>
										<tr>
											<td width="560" height="40"></td>
										</tr>
										<tr>
											<td width="560" style="font-size:14px;color:#929aa0;vertical-align:top;">
												※ Please note that the link above will expire in 10 minutes for privacy protection.<br>
												<span style="display:inline-block;width:16px;"></span>You can request another email for password reset if the link expires.
											</td>
										</tr>
										<tr>
											<td width="560" height="5"></td>
										</tr>
										<tr>
											<td width="560" style="font-size:14px;color:#929aa0;vertical-align:top;">
												※ Please do not reply to this email, as we are unable to respond from this email address.
											</td>
										</tr>
										<tr>
											<td width="560" height="70"></td>
										</tr>
									</table>

								</td>
								<td width="69"></td>
							</tr>
						</table>
						<!-- //content -->

					</td>
				</tr>
				<tr>
					<td width="698" height="1" bgcolor="#d5d6d8"></td>
				</tr>
				<tr>
					<td width="698" bgcolor="#f4f4f4">

						<!-- footer -->
						<table cellpadding="0" cellspacing="0" width="698" border="0" align="center">
							<tr>
								<td colspan="4" width="698" height="28"></td>
							</tr>
							<tr>
								<td rowspan="2" width="29"></td>
								<td rowspan="2" width="179" height="68" style="vertical-align:top;">
									<img src="<%=homeUrl%>/img/mail/mail_foot_logo.gif" style="vertical-align:top;border:0;" alt="OASISBloc Wallet" />
								</td>
								<td width="461" height="12"></td>
								<td rowspan="2" width="29"></td>
							</tr>
							<tr>
								<td width="461" height="56" align="right" style="vertical-align:top;font-size:14px;color:#929aa0;">
									© 2019 Foundation OASIS LTD. All Rights Reserved.
								</td>
							</tr>
						</table>
						<!-- //footer -->

					</td>
				</tr>
			</table>

		</td>
	</tr>
	<tr>
		<td width="698" height="1" bgcolor="#d5d6d8"></td>
	</tr>
</table>


</body>
</html>