<footer class="footer">
	<div class="footer-in">
		
		<p class="copyright">© 2019 Foundation OASIS LTD. All Rights Reserved. </p>
		<a href="mailto:Support@oasisbloc.io" class="btn-mail">Support@oasisbloc.io</a>

	</div>
</footer>
