<!DOCTYPE html>
<html lang="en">
<head>
<% include ./head %>
</head>
<body>
<!-- Header -->
<% include ./header %>
<!-- //Header -->
<!-- container -->
<div class="container">
	<!-- content -->
	<section class="content">
		<%if(account){%>
		<div class="user-info">
			<div class="user-cell">
				<div class="user">
					<span id="spSessionAccount"><%=account%></span>
				</div>
			</div>
			<%if(symbol){%>
			<dl class="osb">
				<%if(symbol == 'OSB'){%>
					<dt>OSB Balance :</dt>
					<dd><span id="OSBAmount">-</span> OSB</dd>
				<%}else if(symbol == 'SOSB'){%>
						<dt>SOSB Balance :</dt>
						<dd><span id="SOSBAmount">-</span> SOSB</dd>
				<%}else if(symbol == 'CRA'){%>
						<dt>CRA Balance :</dt>
						<dd><span id="CRAAmount">-</span> CRA</dd>
				<%}else{%>
						<dt>Balance :</dt>
						<dd><span>-</span></dd>
				<%}%>
			</dl>
			<%}%>
			<div class="btn-area">
				<a href="/tokens" class="btn small sky">Tokens</a>
			</div>
		</div>
		<form id="tokensForm">
			<input type="hidden" id="delToken">
			<input type="hidden" id="myOSBHidden">
			<input type="hidden" id="mySOSBHidden">
			<input type="hidden" id="myCRAHidden">
		</form>
		<%}%>

		<%- body %>
	</section>
	<!-- //content -->

</div>
<!-- //container -->

<!-- Footer -->
<% include ./footer %>
<!-- //Footer -->

<%- script %>
<script>
	function getMyTokensBalance(){
		$.ajax({
			async: false,
			cache: false,
			url: '/getMyTokenBalanceAjax',
			type: 'POST',
			dataType: 'json',
			success: function(data){
				var osbBalance = '0';
				var sOsbBalance = '0';
				var craBalance = '0';
				try{
					if(data.result) {
						osbBalance = (Math.floor(data.osbBalance * 10000) /10000).toFixed(4);
						sOsbBalance = (Math.floor(data.sOsbBalance * 10000) /10000).toFixed(4);
						craBalance = (Math.floor(data.craBalance * 10000) /10000).toFixed(4);
						osbBalance = numberWithCommas(osbBalance);
						sOsbBalance = numberWithCommas(sOsbBalance);
						craBalance = numberWithCommas(craBalance);
						// console.log("osbBalance:" + osbBalance);
						// console.log("osbBalance:" + sOsbBalance);
						// console.log("osbBalance:" + craBalance);
						$("#myOSBHidden").val(osbBalance);
						$("#mySOSBHidden").val(sOsbBalance);
						$("#myCRAHidden").val(craBalance);
						$("#myOSBAmount").text(osbBalance);
						$("#OSBAmount").text(osbBalance);
						$("#SOSBAmount").text(sOsbBalance);
						$("#CRAAmount").text(craBalance);
					}else{
						$("#OSBAmount").text(osbBalance);
						$("#SOSBAmount").text(sOsbBalance);
						$("#CRAAmount").text(craBalance);
					}
				}catch (e) {
					console.log("displayMyTokens error" + e);
				}
			}
			, error: function(request, status, error) {
				console.log("error: " + error);
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				alert('Error occurred.');
			}
		});
	}
</script>
</body>
</html>
